$amber:#FDC02F;
$black-cream:#F7F7F7;
$blue:#25B7CA;
$blue-grey:#617D8A;
$cisco-blue:#085071;
$cream:#F5F5F5;
$cyan:#1FBCD3;
$dark-grey:#857E7E;
$deep-purple:#663FB4;
$green:#50AE54;
$grey:#BBBBBB;
$indigo:#4054B2;
$light-blue:#1EAAF1;
$light-green:#8CC252;
$light-pink:#FEC1C2;
$orange:#FD9727;
$pale-green:#F5FFFD;
$pink:#E72564;
$purple:#9A30AE;
$red:#F44336;
$white:white;
$warning:$amber;
$danger:$red;
$success:$green;
$info:#00c0ef;
$primary:#3c8dbc;
$black:black;
$light-grey:#fafafa;
$brand-color:$cisco-blue;
$text-color:$brand-color;