.card{.c-alert-margin-color{width:10px;min-height:10px;padding-top:1px}.c-alert-margin-color-thin{width:5px;min-height:10px;padding-top:1px}.c-alert-margin-color-thick{width:20px;min-height:10px;padding-top:1px}}
.c-alert-content{padding-left:10px !important;width:100%;}
.c-alert-danger{background-color: #D34135;}
.c-alert-content.c-alert-danger{background-color: #FAE4E3;padding:0;height:100%;width:100%;}
.c-alert-info{background-color: #4F96D1;}
.c-alert-content.c-alert-info{background-color: #DEF1FE;padding:0;height:100%;width:100%;}
.c-alert-warning{background-color: #F6C85E;}
.c-alert-content.c-alert-warning{background-color: #FDF6E4;padding:0;height:100%;width:100%;}
.c-alert-success{background-color: #6DBF83;}
.c-alert-content.c-alert-success{background-color: #E8FAE8;padding:0;height:100%;width:100%;}
