.rectangle{width:200px}.circle,.rectangle{height:100px;background:red}
.circle{width:100px;border-radius:50px}
.oval{width:200px;height:100px;background:red;border-radius:100px/50px}
.triangleUp{border-bottom:100px solid red}
.triangleDown,.triangleUp{width:0;height:0;border-left:50px solid transparent;border-right:50px solid transparent}
.triangleDown{border-top:100px solid red}
.heart{position:relative;height:75px;transform:rotate(45deg);content:"";width:50px;border:none;border-radius:25px 25px 0 0;background-color:purple;&:before{content:"";width:50px;border:none;border-radius:25px 25px 0 0;background-color:purple;position:absolute;height:76px;transform:rotate(-90deg);transform-origin:50% 66.7%}}