.video-heading-alpha{font-size:2.77778rem;line-height:1.12}
.video-heading-delta{font-size:1.55556rem;line-height:1.21}
.video-subtitle-container{max-width:1200px;padding-right:20px;padding-left:0;margin-right:auto;margin-left:auto}
.video-subtitle-caption{position:absolute;bottom:0;width:100%;padding:20px 0;text-shadow:0 0 25px rgba(0,0,0,.25),1px 1px 1px rgba(0,0,0,.5)}
.video{width:100%;height:100%;display:block}
.video-content{height:auto;min-height:0;position:relative;height:60vh;min-height:20em;color:#fff;background-position:50%;background-size:cover}
